* {
    box-sizing: border-box;
    text-align: left;
    
    
}

#main, #main1, #main2 {
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1zPRL_vfw27fx9prXP-CbifFBc7Dt4r39ALF-CnfqtoF3gFrhgA&s");
    
}

#all, #all1, #all2 {
    text-align: center;
}

#heading, #heading1, #heading2 {
    display: inline-block;
    width: 600px;
    margin-bottom: -10px;
}

#heading {
    width: 700px;
}



#name, #name1, #name2 {
    
    background-color: rgb(46, 177, 177);
    float: left;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    
    margin-bottom: -10px;
    margin-top: 0;
    color: white;
    font: 50px;
    font-family: Georgia, Times, 'Times New Roman',  serif;

}



#about, #portfolio, #contact, #contact2, #contact1 {
    
    float: right;
    width: 12%;
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}




ul {
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:link {
    color: blue;
}

a:visited {
    color: coral;
}

a:hover {
    color: yellow;
}

a:active {
    color: purple;
}

#heading {
    background-color: white;
}

 


#body, #body1, #body2 {
    box-sizing: border-box;
    overflow: auto;
    clear: both;
    width: 600px;
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    
}

#body {
    width: 700px;
}



#box1:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#box2:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#box3:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#box4:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#box5:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#mypicture:hover {
    outline: 5px solid rgb(74, 128, 228);
    outline-offset: -20px;
}

#mypicture {
    float: left;
    padding: 20px;
    width: 30%;
    height: 150px
}

#boxtitle {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(46, 177, 177);
    font-family: Georgia, Times, 'Times New Roman',  serif;
}

#first, #second, #third {
    float: left;
    width: 70%;
    text-align: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
    
}

#second, #third {
    clear: left;
    width: 100%;

}

#firstline, #secondline, #thirdline, #firsttext, #secondtext, #thirdtext, #submitbutton {
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#firsttext, #secondtext, #thirdtext {
    width: 90%;
    padding-top: 0;
}

#thirdtext {
    height: 150px;
    margin-bottom: 10px;
    
    
}

#submitbutton {
    background-color:  rgb(46, 177, 177);
    color: white;
    height: 30px;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#top {
    height: 1px;
    background-color:  rgb(46, 177, 177);
    width: 100%;
    margin-bottom: 0;
}


#game1, #game2, #game3, #game4, #game5 {
    float: left;
    width: 175px;
    margin: 20px;
    height: 100px;
}

.games {
    position: relative;
}

h4 {
    color: white;
}


#box1, #box2, #box3, #box4, #box5 {
    position: relative;
    display: inline-block;
    width: 600px;
    float: left;
    width: 35%;
    margin-left: 20px;
    
   
}


#h41, #h42, #h43, #h44, #h45 {
    position: absolute;
    align-content: center;
    background-color: teal;
    margin-left: 20px;
    margin-top: 75px;
    padding-left: 62px;
    padding-right: 63px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 175px;
}

#within {
    height: 1px;
    background-color:  rgb(212, 221, 224);
    width: 90%;
}


footer {
   
    border-top: 8px solid #4aaaa5
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media (max-width: 768px) {

    #mypicture {
        width: 50%;
        height: 200px;
    }

    #first {
        width: 40%;
    }

    #box1, #box2, #box3, #box4, #box5 {
        width: 45%;
    }

    #game1, #game2, #game3, #game4, #game5 {
        width: 87%;
    }

    #h41, #h42, #h43, #h44, #h45 {
        width: 87%;
        padding-left: 100px;
    }

@media (max-width: 640px) {

    #heading, #heading1, #heading2 {
        text-align: center;
        width: 100%;
        
    }   

    #body, #body1, #body2 {
        text-align: center;
        width: 80%;
    }
    
    

    #name, #name1, #name2 {
        
        background-color: teal
        display: inline-block;
        float: none;
        width: 100%;
        text-align: center;
        
    }

    #links {
        display: inline-block;
        width: 60%;
        
    }

    #about, #portfolio, #contact, #about1, #about2, #portfolio1, #portfolio2, #contact1, #contact2 {
        display: inline-block;
        float: right;
        width: 33%;
        text-align: center;
        
        
        
    }

    

    #mypicture {
        float: none;
        width: 100%;
        display: inline-block;
        height: 300px;
        
    }

    #boxtitle {
        float: left;
    }

    #first, #second, #third {
        width: 100%;
        
        justify-content: center;
    }

    #box1, #box2, #box3, #box4, #box5 {
        float: none;
        width: 98%;
        height: 280px;
        margin: auto;
    }

    #game1, #game2, #game3, #game4, #game5 {
        width: 92%;
        height: 245px;
    }

    #h41, #h42, #h43, #h44, #h45 {
        width: 92%;
        margin-top: 190px;
        
        font-size: 35px;
        padding-left: 160px;
        padding-bottom: 10px;
    }

}







}






